  <div class="contents row">
    <%= form_tag("/diaries/#{@diary.id}", method: :patch) do %>
      <h3>
        編集する
      </h3>
      <textarea cols="30" name="content" placeholder="text" rows="10"><%= @diary.text %></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>