<div class="contents row">
  <div class="container"> 
    <h3>
      投稿する
    </h3>
    <%= form_tag('/diaries', method: :post) do %>
      <textarea placeholder="text" name="content" cols="30" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>